@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

.pixeleado{
    font-family: 'DotGothic16', sans-serif;
    }
.group{
    width: 355px;
    border-style: double;
    }
:root{
    --Variable1: #BEBEBE;
}

body{
    background-color: var(--Variable1);
}
div{
    width: 350px;
    border-width: 3px;
    border-style: solid;
    border-color:black;
}